# This CI Tries to be both simple and effective. It is inspired by:
# https://github.com/marketplace/actions/rust-cache
# https://github.com/actions-rs/toolchain/issues/126#issuecomment-782989659
# https://github.com/actions-rs/example/blob/master/.github/workflows/quickstart.yml

name: Rust Checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup rust toolchain
        run: rustup show
      
      - name: Rust Cache
      - uses: Swatinem/rust-cache@v1

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check